@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700;800&family=Markazi+Text:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Hero */
.hero-banner {
  color: var(--white);
  background-color: var(--bg-primary);
  padding: 2rem 0;
  margin-bottom: 5rem;
}

.hero-banner .hero-container {
  justify-content: space-between;
  position: relative;
}

.hero-banner .hero-content {
  max-width: 400px;
}

.hero-banner .hero-title {
  font-size: 56px;
  color: var(--heading-color);
  line-height: 0.8;
}

.hero-banner .hero-subtitle {
  font-size: 32px;
}

.hero-banner .hero-description {
  font-size: 18px;
}

.hero-banner .hero-image {
  width: 300px;
  aspect-ratio: 1/1.2;
  border-radius: 1rem;
  position: absolute;
  right: 0;
  top: 2rem;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
  }

  .hero-container .hero-image {
    position: static;
    width: 100%;
    margin-top: 2rem;
  }
}

/* Specials */
.specials {
  margin-top: 12rem;
}

.specials .specials-heading {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 12rem;
}

.specials .specials-heading span {
  font-size: 40px;
  font-weight: 400;
}

.specials .specials-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.specials-card {
  background-color: var(--dark-200);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  overflow: hidden;
}

.specials-card img {
  width: 100%;
  max-height: 260px;
}

.specials-card .specials-content {
  padding: 2rem 1rem;
}

.specials-card .specials-title {
  justify-content: space-between;
  margin-bottom: 2rem;
}

.specials-card .specials-name {
  font-size: 24px;
  font-family: var(--font-title);
  font-weight: 500;
}

.specials-card .specials-price {
  color: var(--accent-800);
}

.specials-card .specials-description {
  font-weight: 400;
  min-height: 80px;
  margin-bottom: 3rem;
}

.specials-card .specials-order-link {
  display: flex;
  align-items: center;
  font-family: var(--font-title);
  font-weight: 700;
}

.specials-card .specials-order-link span img {
  margin-left: 0.5rem;
  width: 2.5vw;
  height: 2.5vh;
}

@media (max-width: 768px) {
  .specials {
    margin-top: 2rem;
  }
  .specials .specials-heading {
    margin-top: 10rem;
  }
  .specials .specials-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .specials-card img {
    max-height: initial;
  }
}

/* Testimonials */
.testimonials-section {
  margin: 4rem 0;
  padding: 3rem 0;
  background: var(--bg-primary);
  color: var(--white);
}

.testimonials-section h2 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 2rem;
}

.testimonials-section .testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.testimonials-card .testmonial-user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.testimonials-card img {
  max-width: 150px;
  margin-right: 1rem;
  border-radius: 50%;
}

.testimonials-card .testimonials-description {
  font-weight: 400;
  font-size: 14px;
  max-width: 400px;
}

@media (max-width: 1024px) {
  .testimonials-section .testimonials-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .testimonials-section .testimonials-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Booking Form  */
.booking-header {
  font-size: 56px;
  margin: 3rem 0;
  line-height: 0.8;
}

.booking-section .booking-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.booking-section form {
  width: 100%;
  max-width: 500px;
}

.booking-section button {
  margin: 1.5rem 0;
}

/* Confirmation */
.confirmation-section {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 30vh;
}

.confirmation-section h1 {
  font-size: 56px;
  margin-top: 3rem;
  line-height: 0.8;
}

.confirmation-section a:hover {
  opacity: 0.6;
  text-decoration: underline;
}

/* Button */
.button {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.8rem 1.6rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.button {
  color: var(--dark);
  background-color: var(--heading-color);
}

.button:hover {
  opacity: 0.8;
}

/* Utils */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Forms */
input,
select {
  width: 100%;
  padding: 0.8rem 1rem;
}

label,
select,
input[type='date'] {
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group.error label {
  color: var(--danger);
}

.input-group.error input {
  border: 1px solid var(--danger);
}

.input-error {
  margin: 0.5rem 0 1rem;
  color: var(--danger);
  font-size: 0.8rem;
}

@media (max-width: 1024px) {
  footer img {
    display: none;
  }
  footer {
    padding: 1rem 0 1rem 5rem;
  }
  .footer-nav {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .footer-nav {
    grid-template-columns: repeat(1, 1fr);
  }
}
