* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-color: #181a1b; */
  /* color: #e8e6e3; */
  font-family: 'Markazi Text', sans-serif;
  /* font-family: 'Karla', sans-serif; */
  /* margin: 3rem 5%; */
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(58, 75, 70); */
  margin: 1rem 0;
}

nav ul {
  list-style: none;
  font-size: 1.5rem;
  text-align: center;
  padding-inline-start: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
  margin: 1rem;
}

a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}

#special_offer {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url('./assets/new/restaurant_inside.jpg');
  color: rgb(232, 230, 227);
  background-size: cover;
  background-position: 75%;
  color: white;
  min-height: 200px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

#special_offer p {
  text-shadow: rgb(38, 42, 43) 2px 2px 4px;
  font-size: 1.5rem;
  margin: 0.8rem 0 0 0;
}

section {
  display: flex;
  gap: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

button {
  background-color: transparent;
  color: rgba(232, 230, 227, 0.9);
  border-color: rgb(48, 52, 54);
  outline-color: currentcolor;
  text-decoration-color: currentcolor;
  display: inline-block;
  width: 20%;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 8px;
  border: 3px solid #fff;
  text-align: center;
  outline: none;
  text-decoration: none;
  margin: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(58, 75, 70);
}

main article {
  border: 1px solid rgb(53, 57, 59);
  padding-left: 1rem;
  padding-right: 1rem;
}

article {
  flex: 1;
}

article img {
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

#tabs a {
  font-weight: bold;
  font-style: italic;
  color: rgb(238, 151, 111);
}

#tabs ul {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
}

.col {
  flex-basis: 50%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.col figure {
  padding: 0 12px;
}

.col a {
  color: rgb(238, 151, 111);
}

.menu-price {
  display: block;
  font-size: 1rem;
}

.figure {
  margin: 0;
}

p,
ul {
  font-size: 1.25rem;
}

label {
  font-weight: bold;
  display: block;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book .row {
  justify-content: center;
}

.book .col {
  text-align: center;
}

.book input {
  margin: auto;
}

/* #button {
  border-color: rgb(112, 104, 92);
  background-color: rgb(58, 75, 70);
  color: rgb(232, 230, 227);
  padding: 0.5rem 1rem;
  border: 1px solid #495e57;
  background-color: #495e57;
  border-radius: 5px;
  width: 80%;
  font-size: 1.25rem;
  display: block;
  color: #fff;
  line-height: 25px;
  cursor: pointer;
} */

input {
  width: 80%;
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

footer {
  display: flex;
  align-items: center;
  background-color: rgb(34, 36, 38);
  padding: 1rem;
  gap: 2rem 1rem;
}

footer img {
  width: 50px;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  background-color: #495e57;
  overflow-y: visible;
  margin-bottom: 10rem;
}

.content {
  width: 40%;
}

.content h1 {
  font-size: 4rem;
  color: #f4ce14;
  margin: 0;
}

.content h3 {
  font-size: 2rem;
  font-weight: 100;
}

.content h5 {
  color: #e8e6e3;
  font-size: 1rem;
  padding-top: 0.8rem;
  width: 61%;
  letter-spacing: 0.5px;
}

.content-image img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
  transform: translateY(15%);
}

.content .btn {
  background-color: #f4ce14;
  color: #000;
  width: 40%;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
  margin: 0.6rem 0 0 0;
}

.specials {
  margin: 5rem 13rem;
}

.specials .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.specials h1 {
  color: #000;
  margin: 0;
}

.specials button {
  margin: 0;
  background-color: #f4ce14;
  color: #000;
  width: 10rem;
  padding: 1rem 0;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70vh;
  gap: 4rem;
  color: #000;
}

.cards div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #edefee;
}

.cards .card-heading {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.3rem;
  font-weight: 600;
}

.cards .card-heading p:last-child {
  color: #ee9972;
}

.cards .card-text {
  margin: 3rem 1.3rem;
  color: #333;
}

.card-image img {
  width: 100%;
  height: 20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-btn {
  margin: 0 1.3rem;
}

.card-btn button {
  background-color: transparent;
  color: #000;
  width: fit-content;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-btn img {
  margin-left: 0.5rem;
  width: 2.5vw;
  height: 2.5vh;
}

footer p {
  color: #e8e6e3;
  border-color: rgb(123, 114, 101);
  border-top: #333333;
  border-style: solid;
  border-width: 0.1rem;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: right;
  padding-top: 1rem;
}

.booking-form {
  color: #000;
  margin: 2rem 9.6rem;
}

.booking-form h1 {
  margin-bottom: 1.5rem;
}

@media (max-width: 420px) {
  header > img {
    display: block;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 80%;
  }
  nav ul {
    font-size: 1rem;
  }
  footer p {
    width: 120%;
    font-size: 1rem;
    transform: translateX(-18%);
  }
}

@media (max-width: 1440px) {
  a {
    font-weight: 600;
    font-size: 1rem;
  }
}
