* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Markazi Text', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

header > img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

#special_offer {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.8)
    ),
    url('./assets/new/restaurant_inside.jpg');
  color: rgb(232, 230, 227);
  background-size: cover;
  background-position: 75%;
  color: white;
  min-height: 200px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

#special_offer p {
  text-shadow: rgb(38, 42, 43) 2px 2px 4px;
  font-size: 1.5rem;
  margin: 0.8rem 0 0 0;
}

section {
  display: flex;
  gap: 2rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-direction: row;
}

main article {
  border: 1px solid rgb(53, 57, 59);
  padding-left: 1rem;
  padding-right: 1rem;
}

main h3 {
  color: #e8e6e3;
}

article {
  flex: 1;
}

article img {
  width: 100%;
}

h2 {
  font-size: 2.5rem;
  margin: 1rem 0;
}

#tabs a {
  font-weight: bold;
  font-style: italic;
  color: rgb(238, 151, 111);
}

#tabs ul {
  list-style: none;
  padding-left: 0;
  font-size: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 1rem;
}

.col {
  flex-basis: 50%;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.col figure {
  padding: 0 12px;
}

.col a {
  color: rgb(238, 151, 111);
}

.menu-price {
  display: block;
  font-size: 1rem;
}

.figure {
  margin: 0;
}

p,
ul {
  font-size: 1.25rem;
}

label {
  font-weight: bold;
  display: block;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book .row {
  justify-content: center;
}

.book .col {
  text-align: center;
}

.book input {
  margin: auto;
}

input {
  width: 80%;
  display: block;
  padding: 0.5rem 1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
}

/* Footer */
footer {
  background-color: var(--bg-primary);
}

footer img {
  width: 10%;
  height: 10%;
}

footer .container {
  display: flex;
  flex-direction: column;
}

footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer .footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 80%;
}

footer .footer-nav-column {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

footer .footer-nav-column h3 {
  color: #e8e6e3;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: normal;
  margin: 0.4rem 0.2rem;
}

footer ul a {
  font-weight: 500;
  font-size: 1rem;
}

footer li {
  margin: 0;
}

footer .copyright {
  text-align: center;
  color: #e8e6e3;
  padding-bottom: 2rem;
}

@media (max-width: 1024px) {
  footer img {
    display: none;
  }
  footer {
    padding: 1rem 0 1rem 5rem;
  }
  .footer-nav {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

@media (max-width: 768px) {
  .footer-nav {
    grid-template-columns: repeat(1, 1fr);
  }
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0 5rem;
  background-color: #495e57;
  overflow-y: visible;
  margin-bottom: 10rem;
}

.content {
  width: 40%;
}

.content h1 {
  font-size: 4rem;
  color: #f4ce14;
  margin: 0;
}

.content h3 {
  font-size: 2rem;
  font-weight: 100;
}

.content h5 {
  color: #e8e6e3;
  font-size: 1rem;
  padding-top: 0.8rem;
  width: 61%;
  letter-spacing: 0.5px;
}

.content-image img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
  transform: translateY(15%);
}

.content .btn {
  background-color: #f4ce14;
  color: #000;
  width: 40%;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
  margin: 0.6rem 0 0 0;
}

.specials {
  margin: 5rem 13rem;
}

.specials .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.specials h1 {
  color: #000;
  margin: 0;
}

.specials button {
  margin: 0;
  background-color: #f4ce14;
  color: #000;
  width: 10rem;
  padding: 1rem 0;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70vh;
  gap: 4rem;
  color: #000;
}

.cards div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #edefee;
}

.cards .card-heading {
  display: flex;
  justify-content: space-between;
  margin: 2rem 1.3rem;
  font-weight: 600;
}

.cards .card-heading p:last-child {
  color: #ee9972;
}

.cards .card-text {
  margin: 3rem 1.3rem;
  color: #333;
}

.card-image img {
  width: 100%;
  height: 20%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card-btn {
  margin: 0 1.3rem;
}

.card-btn button {
  background-color: transparent;
  color: #000;
  width: fit-content;
  border-radius: 15px;
  border-width: 0;
  font-size: 0.9rem;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card-btn img {
  margin-left: 0.5rem;
  width: 2.5vw;
  height: 2.5vh;
}

.booking-form {
  color: #000;
  margin: 2rem 9.6rem;
}

.booking-form h1 {
  margin-bottom: 1.5rem;
}

@media (max-width: 420px) {
  header > img {
    display: block;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: 2rem;
    width: 80%;
  }
}

@media (max-width: 1440px) {
  a {
    font-weight: 600;
    font-size: 1rem;
  }
}

/* Layout */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Utils */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

/* Forms */
input,
select {
  width: 100%;
  padding: 0.8rem 1rem;
}

label,
select,
input[type='date'] {
  cursor: pointer;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-group.error label {
  color: var(--danger);
}

.input-group.error input {
  border: 1px solid var(--danger);
}

.input-error {
  margin: 0.5rem 0 1rem;
  color: var(--danger);
  font-size: 0.8rem;
}