/* Variables */
:root {
  --bg-primary: #495e57;
  --heading-color: #f4ce14;
  --accent-200: #fbdabb;
  --accent-800: #ee9972;
  --dark-200: #edefee;
  --dark-800: #333;
  --white: #fff;
  --dark: #000;
  --danger: red;

  --font-title: 'Markazi Text', serif;
  --font-body: 'Karla', sans-serif;
}

/* Reset */
* {
  box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 500;
}

ul {
  list-style: none;
}

a,
a:visited,
a:hover {
  color: var(--dark);
  text-decoration: none;
}
